.sleep-chart {
  padding: 2rem;

  h1 {
    text-align: center;
    margin-bottom: 1rem;
  }

  canvas {
    display: block;
    width: auto;
    height: 100%;
    margin: 0 auto;
  }
}

.phase-wake {
  background-color: #a8e6cf; /* Green */
}

.phase-nrem {
  background-color: #ffd3b6; /* Orange */
}

.phase-rem {
  background-color: #d4a5ff; /* Purple */
}
