<div class="sleep-info">
  <h1>Fazy snu</h1>
  <p>
    Podczas snu mózg i ciało regenerują się. Każda faza snu odgrywa inną rolę, ale wszystkie są niezbędne, aby obudzić się wypoczętym.
  </p>
  <h2>CZUWANIE</h2>
  <p>
    Zasypianie zajmuje pewnien czas i każdy z nas budzi się czasem w nocy. Ta faza to faza czuwania.
  </p>
  <h2>REM</h2>
  <p>
    Badania pokazują, że faza REM może odgrywać kluczową rolę w zapamiętywaniu i odświeżaniu mózgu. To w jej trakcie pojawia się najwięcej snów, a gałki oczne mogą wykonywać ruchy z boku na bok. Pierwsza faza REM pojawia się po około 90 minutach od zaśnięcia.
  </p>
  <h2>BAZOWY</h2>
  <p>
    W tej fazie aktywność mięśniowa i temperatura ciała obniżają się. Spędzasz w niej większość nocy. Mimo że czasem nazywa się ją lekkim snem, jest równie ważna jak pozostałe.
  </p>
  <h2>GŁĘBOKI</h2>
  <p>
    Ta faza nazywana jest również snem wolnofalowym. W jej trakcie Twoje ciało regeneruje się i wyzwala ważne hormony. Trwa dłużej w pierwszej połowie nocy. Ponieważ sen głęboki jest bardzo relaksujący, często trudno jest się z niego wybudzić.
  </p>
</div>
