<div class="sleep-info">
  <h1>Fazy snu</h1>
  <p>
    Podczas snu mózg i ciało regenerują się. Każda faza snu odgrywa inną rolę, ale wszystkie są niezbędne, aby obudzić się wypoczętym.
  </p>
  <h2>CZUWANIE</h2>
  <p>
    Zasypianie zajmuje pewnien czas i każdy z nas budzi się czasem w nocy. Ta faza to faza czuwania.
  </p>
  <h2>NREM</h2>
  <p>
    NREM to faza snu, w której organizm odpoczywa i regeneruje się. Jest podzielona na kilka etapów, w tym na sen lekki, w którym organizm stopniowo odpoczywa, oraz sen głęboki, który jest kluczowy dla regeneracji ciała i wyzwalania hormonów wzrostu. Faza NREM trwa przez większą część nocy.
  </p>
  <h2>REM</h2>
  <p>
    Badania pokazują, że faza REM może odgrywać kluczową rolę w zapamiętywaniu i odświeżaniu mózgu. To w jej trakcie pojawia się najwięcej snów, a gałki oczne mogą wykonywać ruchy z boku na bok. Pierwsza faza REM pojawia się po około 90 minutach od zaśnięcia.
  </p>
</div>
